.mostrar {
	display: block;
}

.oculto {
	display: none;
}

.mh {
	cursor: pointer;
}

.red {
	color: #01DF01;
}

.map{
	background: black;
	text-align: center;
	color:#f05f40;
}

#mainNav .navbar-brand{
	color: #01DF01;
}

#mainNav.navbar-shrink .navbar-brand{
	color: #01DF01;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
	color: #01DF01;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
	color: #01DF01;
}
h1 {
	letter-spacing: 3px;
}
h2, hr{
	color: #01b201;
	border-color: #01DF01;
}
.pie{
	border-radius: 2px;
	opacity: 0.8;
	padding-left: 0px;
	letter-spacing: 3px;
	font-weight: bold;
}
}
hr{
	border-color: #01DF01;
}
body{
	background-color: #343432;
}


.serv {
	border-width: thin ;
	color: white;
	padding-bottom: 5%;
	border: solid;
	padding-left: 5%;
	border-color: #01fe01;
	border-top:none;
	border-bottom: none;
	padding-right: 5%;
	text-align: center;
}


.tab {
	background-color: white;
	border-radius: 15px;
	opacity: 0.86;
	padding: 3%;
}

section {
	padding-top: 20px;
	padding-bottom: 0px;
}